body {
  padding-top: 60px;
  padding-bottom: 60px;
}
#back-to-top {
  position: fixed;
  right: 50%;
  bottom: 1%;
  margin-right: -470px;
}
@media (max-width: 767px) {
  #back-to-top {
    right: 0%;
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #back-to-top {
    margin-right: -362px;
  }
}
@media (min-width: 1200px) {
  #back-to-top {
    margin-right: -585px;
  }
}

/* Theme page */
body.theme {
  padding-top: 40px;
  padding-bottom: 35px;
}
#theme {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#theme iframe {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 0;
}
body.theme .preview {
  display: none;
}
.notification {
  left: 10px;
  top: 60px;
  position: fixed;
}
.addthis_toolbox {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-top: 8px;
}
