<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Make A Theme - Online HTML5 and WordPress Themes Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Make A Theme makes it easy to build beautiful, professional-grade themes
you can use on your website, sell to earn money or share with others for free.">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <!-- Le styles -->
    <link rel="stylesheet" href="/stylesheets/app.css">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <script src="/javascripts/vendor.js"></script>
    <script src="/javascripts/app.js"></script>
    <script>
      Application = {
        data: {
          <% unless Sinatra::Base.production? %>debug: true,<% end %>
          <% unless current_user.nil? %>currentUser: <%= current_user.to_json %>,<% end %>
          <% unless themes.nil? %>themes: <%= themes.to_json %><% end %>
        }
      };
      require('initialize');
    </script>

    <% if Sinatra::Base.production? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30564629-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- start Mixpanel -->
    <script type="text/javascript">
(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
 g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
 mixpanel.init("957a4640a3d1944fb5af6603a86a0713");
    </script>
    <!-- end Mixpanel -->

    <script>
var _ratchetParams = {"server.environment": "production"};
var _ratchet=["da5801c5f17740b384d92b3c1eee864e", _ratchetParams];
(function(w,d){w.onerror=function(){_ratchet.push(arguments);};var i=function(){var s=d.createElement("script");var 
 f=d.getElementsByTagName("script")[0];s.src="//d2tf6sbdgil6xr.cloudfront.net/js/1/ratchet.min.js";s.async=!0;
 f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);
    </script>
    <% end %>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="pull-right" id="auth-links">
          </div>
          <ul id="main-nav" class="nav">
            <li><a href="/" data-bypass="true"><i class="icon-home"></i> Dashboard</a></li>
          </ul>
          <div id="menubar">
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="main">
    </div> <!-- /container -->

    <% if Sinatra::Base.production? %>
    <script type="text/javascript">
var GoSquared = {};
GoSquared.acct = "GSN-477029-O";
(function(w){
  function gs(){
    w._gstc_lt = +new Date;
    var d = document, g = d.createElement("script");
    g.type = "text/javascript";
    g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
    var s = d.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(g, s);
  }
  w.addEventListener ?
    w.addEventListener("load", gs, false) :
    w.attachEvent("onload", gs);
})(window);
    </script>
    <% end %>
  </body>
</html>
