<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Make A Theme - Online HTML5 and WordPress Themes Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Make A Theme makes it easy to build beautiful, professional-grade themes
you can use on your website, sell to earn money or share with others for free.">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="/stylesheets/app.css">

    <script src="/javascripts/vendor.js"></script>
    <script src="/javascripts/app.js"></script>
    <script>
      Application = {
        data: {
            themes: <%= themes.to_json %>
          <% unless current_user.nil? %>, currentUser: <%= current_user.to_json %><% end %>
        }
      };
      require('initialize');
    </script>

    <% if Sinatra::Base.production? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30564629-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <% end %>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Make A Theme <sup>beta</sup></a>
          <div class="pull-right" id="auth-links">
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="http://makeatheme.freshdesk.com/">Support</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" id="main">
    </div> <!-- /container -->

    <% if Sinatra::Base.production? %>
    <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
    <style type="text/css" media="screen, projection">
@import url(http://assets.freshdesk.com/widget/freshwidget.css);
    </style>
    <script type="text/javascript">
FreshWidget.init("", {"queryString": "&formTitle=Feedback+%26+Support&submitThanks=Thank+you+for+your+feedback!+We+will+get+in+to+with+you+soon+if+necessary.", "buttonText": "feedback & support", "buttonColor": "#ffffff", "buttonBg": "#049cdb", "alignment": "2", "offset": "700px", "url": "http://makeatheme.freshdesk.com", "assetUrl": "http://assets.freshdesk.com/widget"} );
    </script>
    <% end %>
  </body>
</html>
