.x-name,
.x-remove,
.x-resize {
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.columns.x-current {
  cursor: move;
  box-shadow: 0px 0px 1px 1px #049cdb;
}
.columns .x-resize {
  position: absolute;
  top: 0;
  display: none;
  right: 0;
  font-size: 24px;
  margin-top: 9px;
  color: #049cdb;
}
.x-remove {
  font-size: 12px;
  line-height: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  color: #dd261d;
  background-color: #ffffe0;
  cursor: pointer;
  display: block;
}
.columns .x-remove {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.columns.x-current .x-resize {
  display: block;
  cursor: col-resize;
}
.x-current .x-remove {
  display: block;
}
.columns.x-current a {
  cursor: move;
}
.columns .x-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 5px;
  color: #049cdb;
  background-color: #ffffe0;
  display: none;
}
.columns.x-current .x-name {
  display: block;
}
.x-full:after,
.x-empty:after {
  content: "+";
  font-size: 18px;
  text-align: center;
  background-color: #f0f8ff;
  color: #000;
  width: 100%;
}
.x-not-full {
  background-color: #f0f8ff;
}
.x-drag {
  display: block;
  cursor: move;
  background-color: #fcfcfc;
  color: #1c1c1c;
  width: 198px;
}
.x-drag span {
  padding: 0 5px;
}
