<p>Hi <%= user.first_name %>,</p>

<p>A request to reset your password has been made on http://thememy.com. If
that request was not sent by you, please ignore this email.</p>

<p>Your password token is <br />
<strong><%= user.password_reset_token %></strong><br />
Please insert this token into the modal.</p>

<p>Cheers,<br /> Ulrich Sossou</p>

<p><a href="http://thememy.com/">http://thememy.com/</a></p>
