<p>Hi <%= user.first_name %>,</p>

<p>A request to reset your password has been made on http://thememy.com. If
that request was not sent by you, please ignore this email.</p>

<p>Please click this link to confirm you password reset and log in:<br />
<strong><%= reset_url %></strong>.</p>

<p>Cheers,<br /> The ThemeMy team<br />
<a href="http://thememy.com/">http://thememy.com/</a></p>
