<table border="0" valign="top" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td height="14" style="font-size: 0; line-height: 0"></td>
  </tr>
  <tr>
    <td>
      <font face="'Lucida Sans Unicode', 'Lucida Grande', sans-serif" size="2"
        style="font-size: 14px; line-height: 20px">
        <h3>Welcome <%= user.first_name %>!</h3>

        <p>Building beautiful, high-quality website themes is hard but a very
        rewarding journey.</p>

        <p>We built Make A Theme drag and drop theme editor to help you design, in minutes,
        responsive HTML5 and WordPress themes that you can use on your own website
        or sell for money.</p>

        <p>With Make A Theme, you can:</p>

        <ul>
          <li>Design beautiful and SEO-friendly themes that work on both desktop and
          mobile devices</li>
          <li>Stop worrying about your HTML and PHP skills and focus on your awesome
          design skills</li>
          <li>Start selling themes on your own website or marketplaces, or sharing them
          for free</li>
          <li>Start your consulting business designing themes for other people or
          organisations</li>
        </ul>

        <p>We are looking forward to your feedback so that we can add more features
        you need.<br />
        Please contact us for feature requests, bug reports or questions.</p>
      </font>
    </td>
  </tr>
  <tr>
    <td height="14" style="font-size: 0; line-height: 0"></td>
  </tr>
  <tr>
    <td height="14" style="font-size: 0; line-height: 0"></td>
  </tr>
  <tr>
    <td>
      <table width="200" cellpadding="0" cellspacing="0" border="0" bgcolor="#006DCC">
        <tr>
          <td colspan="3" bgcolor="#0044CC" style="font-size:0;line-height:0" height="1">&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#002A80" style="font-size:0;line-height:0" width="1">&nbsp;</td>
          <td align="center" width="198" height="44" valign="middle">
            <a style="text-decoration:none" href="http://makeatheme.com/">
              <font color="#FFFFFF" size="4" style="font-size:16px;line-height:20px;font-weight:bold"
                face="'Lucida Sans Unicode', 'Lucida Grande', sans-serif">
                Go to Make A Theme
              </font>
            </a>
          </td>
          <td bgcolor="#002A80" style="font-size:0;line-height:0" width="1">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3" bgcolor="#0044CC" style="font-size:0;line-height:0" height="1">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="14" style="font-size: 0; line-height: 0"></td>
  </tr>
  <tr>
    <td style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 14px; line-height: 20px">
      <font face="'Lucida Sans Unicode', 'Lucida Grande', sans-serif" size="2" style="font-size: 14px; line-height: 20px">
        <p>Cheers,<br /> Ulrich Sossou - Founder / Developer @ Make A Theme<br />
        <a href="http://www.makeatheme.com/">http://www.makeatheme.com/</a></p>
      </font>
    </td>
  </tr>
  <tr>
    <td height="14" style="font-size: 0; line-height: 0"></td>
  </tr>
</table>
