<p>Hi <%= user.first_name %>,</p>

<p>Welcome to ThemeMy! Your registration is a celebration for us.</p>

<p>We are looking forward to your feedback so that we can build the product you need.<br />
Please contact me for feature requests, bug reports or any question you may have.</p>

<p>Cheers,<br /> Ulrich Sossou</p>

<p><a href="http://thememy.com/">http://thememy.com/</a></p>
