black =               #000
grayDarker =          #1c1c1c
grayDark =            #2c2c2c
gray =                #4c4c4c
grayLight =           #999
grayLighter =         #c1c1c1
white =               #fff

blueLight =           #f0f8ff
blue =                #049cdb
blueDark =            #0064cd
green =               #46a546
red =                 #dd261d
yellowLight =         #ffffe0

.btn {
  background-image: none;
  letter-spacing: 0.09em;
  font-weight: 300;
}
.nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 300;
}
.headline {
  text-align: center;
  padding: 40px 0 40px;
  border-bottom: 1px solid #EEE;
}
h1 {
  text-transform: uppercase;
}
.catch-phrase {
  text-align: center;
  letter-spacing: 0.09em;
  line-height: 1.4em;
  font-weight: bold;
}
.call-to-action {
  margin: 30px 0;
}
.page-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin: 60px 0;
}
.thumbnail {
  border: 1px solid #08c;
}

body {
  background-color: #fcfcfc;
  padding-top: 60px;
  padding-bottom: 60px;
}
#back-to-top {
  position: fixed;
  right: 50%;
  bottom: 1%;
  margin-right: -470px;
}
@media (max-width: 767px) {
  #back-to-top {
    right: 0%;
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #back-to-top {
    margin-right: -362px;
  }
}
@media (min-width: 1200px) {
  #back-to-top {
    margin-right: -585px;
  }
}

/* Notification */
#notifications {
  right: 15px;
  top: 75px;
  position: fixed;
  z-index: 99999;
  width: 300px;
}

/* Theme page */
body.theme,
body.theme_edit,
body.theme_fork {
  padding-top: 60px;
  padding-bottom: 0;
}
body.theme #main,
body.theme_edit #main,
body.theme_fork #main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#download-iframe {
  visibility: hidden;
}

/* Not found */
#not-found {
  text-align: center;
}

/* Editor */
.x-remove {
  font-size: 12px;
  line-height: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  color: red;
  background-color: yellowLight;
  cursor: pointer;
  display: block;
}
#x-layout-editor {
  background-color: #fcfcfc;
  color: grayDarker;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 100%;
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 9999;
  padding: 0;
  margin: 30px 0;
}
#x-layout-editor .x-handle {
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid grayLight;
}
#x-layout-editor .x-handle span {
  margin-left: 5px;
}
#x-style-edit div {
  border: 1px solid grayDarker;
  border-top: 0px;
  padding: 5px;
  height: 32px;
  overflow: hidden;
}
#x-style-edit div:hover {
  height: auto;
}
#x-style-edit div h5 {
  border-bottom: 1px solid grayDarker;
  color: grayDarker;
  text-decoration: none;
  padding: 0 0 2px;
  height: 27px;
  margin: 0;
  font-size: 1em;
}
#x-style-edit div h5 span {
  padding: 0 5px 0 10px;
}
#x-layout-editor .x-pixels {
  width: 26px;
}
#x-layout-editor .x-color {
  width: 58px;
}
#x-layout-editor ul {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}
#x-layout-editor ul.x-rects li {
  margin: 1px 0;
  padding: 2px 0;
  border: 1px solid grayLighter;
}
#x-layout-editor ul.x-rects li label {
  cursor: pointer;
  display: inline-block;
}
#x-layout-editor ul.x-rects input[type=radio] {
  float: left;
  margin-top: 3px;
}
#x-layout-editor ul.x-rects li .x-remove {
  float: right;
  padding: 0;
  background-color: inherit;
}
#x-layout-editor ul.x-rects li.x-current {
  background-color: grayLighter;
}
#x-layout-editor ul.x-rects li input {
  margin: 0 5px;
}
#x-layout-editor select.x-element,
#x-layout-editor select.x-tag {
  width: 100%;
}
#x-layout-editor ul.x-rules {
  margin: 0 0 0 10px;
}
#x-layout-editor ul.x-rules li input {
  width: 45%;
  background-color: transparent;
  border: none;
}
.x-selector {
  margin: 0;
  background-color: blueLight;
}
.x-selector input {
  max-width: 90%;
  float: left;
  background-color: transparent;
  border: none;
  text-overflow: ellipsis;
}
.x-selector input:hover,
#x-layout-editor ul.x-rules li input:hover {
  background-color: yellowLight;
}
#x-layout-editor legend {
  margin: 4px 0;
  line-height: 26px;
  font-size: 14px;
}
.x-drag {
  display: block;
  cursor: move;
}
.x-drag span {
  padding: 0 5px;
}
.x-new-template,
.x-new-block {
  text-align: center;
  border: none;
  width: 100%;
  display: block;
  background-color: grayDarker;
  color: grayLighter;
}
#x-share-link p {
  word-wrap: break-word;
}
input.hide {
  display: none;
}
#x-customize-button,
#x-download-button {
  margin: 10px 0;
  text-align: center;
}
#x-customize-button .btn,
#x-download-button .btn {
  width: 200px;
}
#x-templates-preview {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid grayDarker;
}
#x-layout-editor .accordion-inner {
  overflow-y: scroll;
  max-height: 200px;
}
