black =               #000
grayDarker =          #1c1c1c
grayDark =            #2c2c2c
gray =                #4c4c4c
grayLight =           #999
grayLighter =         #c1c1c1
white =               #fff

blueLight =           #f0f8ff
blue =                #049cdb
blueDark =            #0064cd
green =               #46a546
red =                 #dd261d
yellowLight =         #ffffe0

.btn {
  background-image: none;
  letter-spacing: 0.09em;
  font-weight: 300;
}
.nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 300;
}
.headline {
  text-align: left;
  margin: 60px 0 30px;
  border-bottom: 1px solid #EEE;
  font-size: 1.6em;
  line-height: 2em;
  color: grayDarker;
}
.catch-phrase {
  margin: 0 0 90px;
  text-align: center;
  letter-spacing: 0.09em;
  line-height: 1.4em;
  font-size: 48px;
  font-weight: bold;
  color: grayDarker;
  text-shadow: 0px 1px 1px white;

  small {
    color: grayDarker;
  }
}
.call-to-action {
  padding: 30px 0 0;

  blockquote {
    margin: 0 0 120px 50px;

    p {
      margin: 0 0 20px;
    }
  }

  > p {
    margin: 0 0 30px 30px;
    font-size: 17.5px;
    line-height: 1.6em;
  }

  .btn {
    width: 460px;
    padding: 15.4px 26.6px;
    font-size: 24.5px;
  }
}
.excerpt {
  text-align: center;
}
.features {
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #EEE;

  .row {
    padding: 60px 0;
  }
}
.page-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin: 60px 0;
}
#footer {
  border-top: 1px solid #EEE;
  margin: 60px 0 0;
  padding: 20px 0;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 1.6em;
}
[contenteditable=true]:hover,
[contenteditable=true]:focus {
  background-color: yellowLight;
}
#back-to-top {
  position: fixed;
  right: 50%;
  bottom: 1%;
  margin-right: -470px;
}
@media (max-width: 767px) {
  #back-to-top {
    right: 0%;
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #back-to-top {
    margin-right: -362px;
  }
}
@media (min-width: 1200px) {
  #back-to-top {
    margin-right: -585px;
  }
}

/* Notification */
#notifications {
  right: 15px;
  top: 55px;
  position: fixed;
  z-index: 99999;
  width: 300px;
}

/* Theme page */
body.theme {
  padding-top: 40px;
  padding-bottom: 0;
  overflow: hidden;

  #main {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
#canvas {
  background-color: grayLighter;
  width: 100%;
  overflow: auto;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
#theme {
  min-width: 1600px;
  height: 100%;
  position: absolute;
}
#new-theme {
  margin: 60px 0 0;
  text-align: center;
}

#download-iframe {
  visibility: hidden;
}

/* Not found */
#not-found {
  text-align: center;
}

.btn-group > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-menu {
  border-radius: 0;
}
.typeahead {
  width: 200px;
}

.sp-container {
  background-color: white;
  border: 1px solid #EEE;
  padding: 0;
  width: 214px;
}
.sp-container:after {
  clear: both;
  display: table;
  content: "";
  line-height: 0;
}
.sp-picker-container,
.sp-palette-container {
  padding: 5px;
  margin-bottom: 0;
}
.sp-picker-container {
  width: 149px;
}
.sp-replacer:hover, .sp-replacer.sp-active {
  border-color: blue;
}

/* Editor */
.editor-sidebar {
  color: grayDarker;
  background-color: white;
  width: 200px;
  padding: 10px;
  margin: 0;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  > div {
    overflow: auto;
  }

  .editor-toggle {
    position: absolute;
    margin-top: 10px;
    line-height: 30px;
    background: white;
    text-align: center;
    cursor: pointer;
    width: 28px;
    height: 30px;

    a {
      color: black;
    }
  }
  .editor-toggle.right {
    right: 0;
    margin-right: -28px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  .editor-toggle.left {
    left: 0;
    margin-left: -28px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  h5 {
    margin: 0;
    font-weight: bold;
  }
  ul {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
  }
  .rects {
    li {
      margin: 1px 0;
      padding: 2px 0;
      border: 1px solid grayLighter;

      label {
        cursor: pointer;
        display: inline-block;
      }

      input {
        margin: 0 5px;
      }
    }

    input[type=radio] {
      float: left;
      margin-top: 3px;
    }
    .current {
      background-color: grayLighter;
    }
  }
  select.tag {
    width: 100%;
  }
  .rules {
    margin: 0 0 0 10px;

    li {
      input {
        width: 45%;
        background-color: transparent;
        border: none;
      }

      input:hover {
        background-color: yellowLight;
      }
    }
    li.inactive {
      input {
        text-decoration: line-through;
      }
    }
  }
  .selector {
    margin: 0;
    background-color: blueLight;

    input {
      max-width: 90%;
      float: left;
      background-color: transparent;
      border: none;
      text-overflow: ellipsis;
    }

    input:hover {
      background-color: yellowLight;
    }
  }
  legend {
    margin: 4px 0;
    line-height: 26px;
    font-size: 14px;
  }
  .x-drag {
    display: block;
    cursor: move;

    span {
      padding: 0 5px;
    }
  }
  .new-template,
  .new-block {
    text-align: center;
    border: none;
    width: 100%;
    display: block;
    background-color: grayDarker;
    color: grayLighter;
  }
  #share-link p {
    word-wrap: break-word;
  }
  input.hide {
    display: none;
  }
  #templates-preview {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid grayDarker;
  }
  .accordion-inner {
    overflow-y: scroll;
    max-height: 500px;
  }
}
#style-edit {
  right: 0;
}

// Fontello fonts used for tablet, phone and PC icons
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="f-icon-"]:before,
[class*=" f-icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  line-height: 1.2em;
  font-size: 120%;
}

.f-icon-tablet:before { content: '\e7b1'; } /* '' */
.f-icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.f-icon-mobile:before { content: '📱'; } /* '\1f4f1' */


// Custom icons for WordPress and HTML5
[class^="c-icon-"],
[class*=" c-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  margin-right: 3px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}
.c-icon-html5 { background-image: url("../images/icon-html5.png"); }
.c-icon-wordpress { background-image: url("../images/icon-wordpress.png"); }

