<h1 class="page-header">Account / Profile</h1>
<form class="form-horizontal span6">
  <fieldset>
    <legend>Name and Email</legend>

    <div class="control-group">
      <label class="control-label" for="new-first-name">First Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="first_name" value="{{first_name}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="new-last-name">Last Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="last_name" value="{{last_name}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="new-email">Email Address</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="email" value="{{email}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="new-password">Current Password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" name="current_password">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Change Password <small>(leave the fields below blank if not changing)</small></legend>
    <div class="control-group">
      <label class="control-label" for="new-password">New Password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" name="password">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="new-password-confirmation">Password Confirmation</label>
      <div class="controls">
        <input type="password" class="input-xlarge" name="password_confirmation">
      </div>
    </div>
  </fieldset>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary submit">Save Changes</button>
    </div>
  </div>
</form>

<div class="span6">
  <button id="delete-user" class="btn btn-danger pull-right">Delete Account</button>
</div>
