<ul class="nav">
  {{#if currentUser.email}}
    <li><a href="/session" data-method="delete">Log out</a></li>
  {{else}}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Log in</a></li>
  {{/if}}
</ul>
