{{#if current_user}}
  <ul class="nav">
    <li><a href="/" id="your_themes">Your themes</a></li>
    <li><a href="/themes" id="new_theme">New theme</a></li>
    <li><button class="btn" id="logout">Log out</button></li>
  </ul>
{{else}}
  <ul class="nav">
    <li><a id="register" href="/register">Register</a></li>
    <li><a id="login" href="/login">Log in</a></li>
  </ul>
{{/if}}
