<p>Drag and drop to insert</p>
<ul class='x-rects'></ul>
<button class="x-new-block">&plus; New Block</button>
<form class="x-new-block-select hide">
  <legend>Add New Block</legend>
    <select>
      {{#each all}}
      <option value="{{name}}">{{label}}</option>
      {{/each}}
    </select>
  </label>
  <input class="x-new-block-name" type="text" value="" placeholder="Enter block name" />
  <button class="x-new-block-add btn">Add block</button>
</form>
