<div id="customize-button">
  {{#if current_user}}
    <button class="btn btn-primary btn-block" id="copy-theme"
      data-event="New Theme:type:copy">Copy Theme</button>
  {{else}}
    <a class="btn btn-primary" href="/login">Login to Copy</a>
  {{/if}}
</div>
