<div id="customize-button">
  {{#if currentUser}}
    <a class="btn btn-primary btn-block copy" data-bypass="true"
      data-event="New Theme:type:copy" href="/themes/{{id}}/fork">Copy Theme</a>
  {{else}}
    <a class="btn btn-primary" href="/login">Login to Copy</a>
  {{/if}}
</div>
