{{#if current_user}}
  <a href="#" data-bypass="true" id="copy-theme"
    data-event="New Theme:type:copy"><i class="icon-edit"></i> Copy Theme</a>
{{else}}
  <a href="/login"><i class="icon-file"></i> Login to Copy Theme</a>
{{/if}}
