<div>
  <p class="x-selector">
    <input value="{{selector}}" placeholder="selector" />&nbsp; {
  </p>
  <ul class="x-rules">
  </ul>
  <button class="btn btn-mini add-rule">Add rule</button>
  <p>}</p>
</div>
