<a tabindex="-1" href="#">Switch Device</a>
<ul class="dropdown-menu">
  <li class="active"><a href="#" data-bypass="true" class="pc-size"><i class="f-icon-monitor"></i> PC</a></li>
  <li><a href="#" data-bypass="true" class="tablet-size"><i class="f-icon-tablet"></i> Tablet</a></li>
  <li><a href="#" data-bypass="true" class="phone-size"><i class="f-icon-mobile"></i> Phone</a></li>
</ul>
