<ul>
  <li><a href="#" data-bypass="true" class="pc-size"><i class="f-icon-monitor"></i></a></li>
  <li><a href="#" data-bypass="true" class="tablet-size"><i class="f-icon-tablet"></i></a></li>
  <li><a href="#" data-bypass="true" class="phone-size"><i class="f-icon-mobile"></i></a></li>
</ul>
