<a tabindex="-1" href="#">Switch Device</a>
<ul class="dropdown-menu">
  <li class="active"><a href="#" data-bypass="true" class="pc-size"><i class="icon-desktop"></i> PC</a></li>
  <li><a href="#" data-bypass="true" class="tablet-size"><i class="icon-tablet"></i> Tablet</a></li>
  <li><a href="#" data-bypass="true" class="phone-size"><i class="icon-mobile-phone"></i> Phone</a></li>
</ul>
