<a href="/themes/{{id}}/download" data-event="Download:format:HTML"
  target="_blank" data-bypass="true">Download HTML5</a>
<a href="/themes/{{id}}/download/wordpress" data-event="Download:format:WordPress"
  target="_blank" data-bypass="true">Download WordPress</a>
