<div class="btn-group btn-block">
  <button data-toggle="dropdown"
    class="btn btn-success btn-block dropdown-toggle download">
    Download Theme <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/themes/{{id}}/download" target="_blank" data-bypass="true">
      Download HTML5</a></li>
    <li><a href="/themes/{{id}}/download" target="_blank" data-bypass="true">
      Download WordPress</a></li>
  </ul>
</div>
