<div class="page-header">
  <h1>
    Online Theme Editor
    <small>exports to HTML5 and WordPress themes</small>
  </h1>
</div>
<p class="lead">The future of website design is here, now, in your browser.
<a href="/register" class="btn btn-large btn-primary">Get Started</a></p>
<p>The easiest to use online theme editor that churns out beautiful, standard compliant, responsive,<br />
SEO-friendly, [ insert any buzzword here ;) ]  HTML5 and WordPress themes in minutes.</p>
<p>Start by choosing a preset theme below.
(<a data-toggle="collapse" data-bypass="true" href="#faq">FAQ</a>)</p>

<div id="faq" class="collapse">
  <h3>Frequently Asked Questions</h3>
  <h4>How it works?</h4>
  <ul>
    <li>Scroll down the page to see the full list of all the themes and choose the one you like.</li>
    <li>When you find the theme you want, click the "Customize" button and you will be taken
    to the customizer where you can make edits until you are satisfied.</li>
    <li>Then, click on "Download" to download the WordPress theme with your customizations included.</li>
  </ul>
  <h4>Something doesn't work. What should I do?</h4>
  <p>It is our fault and we are sorry for that. This site is a work in progress and
  we are building new features and fixing bugs every day. Please contact us if something doesn't work for you
  and we will quickly find a solution.</p>

  <p><a data-toggle="collapse" data-bypass="true" href="#faq"><i class="icon-arrow-up"></i> Hide</a></p>
</div>
