<div class="headline">
  <h1 class="catch-phrase">Fast Custom Design Tools
    <br /><small>for Your Web and Mobile Sites</small></h1>
  <p>Design your beautiful, responsive HTML5 themes in minutes
  <br />with a powerful drag and drop editor.</p>

  <p class="call-to-action">
    <a href="/register" class="btn btn-large btn-primary">Get Started Now. It's Free.</a>
  </p>

  <p>Make A Theme makes it easy to build beautiful, professional-grade themes<br />
  you can use on your website, sell to earn money or share with others for free.</p>
</div>

<div class="features">
  <div class="row">
    <div class="span4">
      <img src="/images/pencil.png" height="150" />
      <h3>Easy to Use.</h3>
      <p>It's so simple anyone can use it.<br />
      But it's still powerful enough for the most advanced users.</p>
    </div>

    <div class="span4">
      <img src="/images/photoshop.png" height="150" />
      <h3>All-in-One Workflow.</h3>
      <p>Skip Photoshop. Skip your text editor.<br />
      Save time and money by building your themes directly in your browser.</p>
    </div>

    <div class="span4">
      <img src="/images/responsive.png" height="150" />
      <h3>Responsive. Responsive.</h3>
      <p>Reach the 2 billions of people<br />
      browsing the Web from desktops, mobiles,<br />
      tablets, TVs, (coffee machines?)&hellip;</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <img src="/images/html5.png" height="150" />
      <h3>Beautiful Code.</h3>
      <p>No HTML tag soup. No spaghetti PHP code.
      Well organized CSS. Generated for real people, not robots.</p>
    </div>

    <div class="span4">
      <img src="/images/presets.png" height="150" />
      <h3>Preset Themes.</h3>
      <p>You don't always have to start<br />
      from scratch. Browse the gallery of pre-built themes,
      copy and customize.</p>
    </div>

    <div class="span4">
      <img src="/images/wordpress.png" height="150" />
      <h3>It haz WordPress!</h3>
      <p>Exporting to a WordPress theme<br />
      is just one click away. No PHP mastering required.</p>
    </div>
  </div>
</div>

<div class="row call-to-action">
  <blockquote>
    <p>Non-desktop computers (phones, tablets, TVs, cars, glasses, etc.) are
    becoming the primary way to access the Web. The next versions of the Web
    languages (HTML, JavaScript,...) will be very powerful but more complex
    and I believe our existing tools are not evolving quickly enough.</p>
    <p>The goal of Make A Theme is to build the tools to make Web Design easier and
    faster for the future Web.</p>

    <small>Ulrich Sossou, <cite title="Founder / Developer @ Make A Theme">
        Founder / Developer @ Make A Theme</cite></small>
  </blockquote>
  <p>
    Help us shape the future of Web Design. Don't be left behind.
    <a href="/register" class="btn btn-large btn-primary pull-right">
      Sign Up for the Free Beta.
    </a>
  </p>
</div>

<footer id="footer">
  <p>&copy; 2012 Make A Theme
  &middot; <a href="/register">Register</a>
  &middot; <a href="/login">Login</a>
  &middot; <a href="http://makeatheme.freshdesk.com/">Support</a>
  </p>
</footer>
