<h1 class="catch-phrase">The next generation theme editor<br /> in your browser</h1>
<p>Build your own responsive HTML5 and WordPress themes in minutes!</p>
<p class="call-to-action"><a href="/register" class="btn btn-large btn-primary">Get Started Now</a></p>
<p>ThemeMy makes it easy to build beautiful, professional-grade themes<br />
you can use on your website, sell to earn money or share with others for free.</p>
