<div class="page-header">
  <h1>
    Premium Designs
    <small>for your WordPress site</small>
  </h1>
</div>
<p class="lead">Customize before you download! Start by choosing a theme below.
(<a data-toggle="collapse" data-bypass="true" href="#faq">FAQ</a>)</p>

<div id="faq" class="collapse">
  <h3>Frequently Asked Questions</h3>
  <h4>How it works?</h4>
  <ul>
    <li>Scroll down the page to see the full list of all the themes and choose the one you like.</li>
    <li>When you find the theme you want, click the "Customize" button and you will be taken
    to the customizer where you can make edits until you are satisfied.</li>
    <li>Then, click on "Download" to download the WordPress theme with your customizations included.</li>
  </ul>
  <h4>Something doesn't work. What should I do?</h4>
  <p>It maybe our fault and we are sorry for that. This site is a work in progress and
  we are building new features and fixing bugs every day. Please contact us if something doesn't work for you
  and we will quickly find a solution.</p>

  <p><a data-toggle="collapse" data-bypass="true" href="#faq"><i class="icon-arrow-up"></i> Hide</a></p>
</div>
