<h1 class="catch-phrase">The next generation theme editor<br /> in your browser</h1>
<p>Build your own responsive HTML5 and WordPress themes in minutes!</p>
<p><a href="/register" class="btn btn-large btn-primary">Get Started Now</a></p>
