<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Please authenticate yourself</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="email">Email Address</label>
        <div class="controls">
          <input type="text" name="email" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" name="password" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </div>
    </fieldset>
  </form>
  <ul class="unstyled">
    <li>Forgot your password? <a href="/reset_password" data-replace="true">Reset password</a></li>
    <li>Don't have an account yet? <a href="/register" data-replace="true">Register</a></li>
  </ul>
</div>
