<div id="template-form-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="template-form-modal-header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="template-form-modal-header">New Template</h3>
  </div>
  <div class="modal-body">
    <form class="form-inline">
      <input type="text" class="input-large name" placeholder="Template Name" value="">
      <button type="submit" class="btn btn-primary" aria-hidden="true">Create Template</button>
    </form>
  </div>
</div>
