<label for="template-header">Header:</label>
<select class="x-header-select" id="template-header">
  {{#each headers}}
  <option value="{{slug}}">{{slug}}</option>
  {{/each}}
</select>

<label for="template-footer">Footer:</label>
<select class="x-footer-select" id="template-footer">
  {{#each footers}}
  <option value="{{slug}}">{{slug}}</option>
  {{/each}}
</select>
