<label for="template-header">Header:</label>
<select class="x-header-select" id="template-header">
  {{#each headers}}
  <option value="{{slug}}">{{slug}}</option>
  {{/each}}
  <option value="">new header</option>
</select>
<div class="x-header-new">
  <input type="text" value="" placeholder="Enter header name" />
  <button class="x-header-add btn">Add header</button>
</div>

<label for="template-footer">Footer:</label>
<select class="x-footer-select" id="template-footer">
  {{#each footers}}
  <option value="{{slug}}">{{slug}}</option>
  {{/each}}
  <option value="">new footer</option>
</select>
<div class="x-footer-new">
  <input type="text" value="" placeholder="Enter footer name" />
  <button class="x-footer-add btn">Add footer</button>
</div>
