<div id="rename-theme-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="rename-modal-header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="rename-modal-header">Rename Theme</h3>
  </div>
  <div class="modal-body">
    <form class="form-inline">
      <input type="text" class="input-large name" placeholder="Theme Name" value="{{name}}">
      <button type="submit" class="btn btn-primary" aria-hidden="true">Rename</button>
    </form>
  </div>
</div>
