<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Reset password</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" id="password_reset_step1">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="email">Email Address</label>
        <div class="controls">
          <input type="text" name="email" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Send reset email</button>
        </div>
      </div>
    </fieldset>
  </form>
  <form class="form-horizontal hidden" id="password_reset_step2">
    <fieldset>
      <p>A token to reset your password has been sent to your email. Please insert it
         into the field below.</p>
      <div class="control-group">
        <label class="control-label" for="reset_token">Password Reset Token</label>
        <div class="controls">
          <input type="text" name="reset_token" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Reset password</button>
        </div>
      </div>
    </fieldset>
  </form>
  <ul class="unstyled">
    <li>Log in <a href="/login" data-replace="true">Log in</a></li>
    <li>Don't have an account yet? <a href="/register" data-replace="true">Register</a></li>
  </ul>
</div>
