<li>
  <input name="property" value="" placeholder="property" />:
  <input name="value" value="" placeholder="value" />
  <input type="hidden" name="selector" value="{{selector}}" />
  <input type="hidden" name="index" />
</li>
