<div id="share-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="share-modal-header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="share-modal-header">Share Theme</h3>
  </div>
  <div class="modal-body">
    <p>This theme can be viewed by anyone you give the following link to.<br />
    Please share it with care.</p>
    <div class="well well-small">http://makeatheme.com/themes/{{theme}}</div>
  </div>
</div>
