<form>
  <p class="x-choice">
    <label>Current Element:</label>
    <b>{{ element }}</b>
  </p>
  <ul class="x-rules">
    {{#each rules}}
    <li><input value="{{selector}}" />: <input value="{{value}}" /></li>
    {{/each}}
  </ul>
  <button>Add custom style</button>
</form>
