<a tabindex="-1" href="#">Switch Template</a>
<ul class="dropdown-menu">
  {{#each templates}}
  <li{{#if active}} class="active"{{/if}}><a href="#" data-id="{{id}}">{{label}}</a></li>
  {{/each}}
</ul>
