<p>Click to change</p>
<ul class="x-rects"></ul>
<button class="x-new-template">&plus; New Template</button>
<form class="x-new-template-select hide">
  <legend>Add New Template</legend>
  <select>
    {{#each standards}}
    <option value="{{name}}">{{label}}</option>
    {{/each}}
    <option value="">Other</option>
  </select>
  <input class="x-new-template-name hide" type="text" value="" placeholder="Enter template name" />
  <button class="x-new-template-add btn">Add template</button>
</form>
