<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Upload a new theme</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="file">Theme Archive</label>
        <div class="controls">
          <input type="file" name="file" class="input-xlarge">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Upload Theme</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
