<h3 class="page-title">Create a new theme from scratch</h3>
<form id="new-theme" class="form-inline">
  <input type="text" class="input-medium" name="theme_name" placeholder="Theme Name">
  <button data-event="New Theme:type:from scratch"
    class="btn btn-primary" data-bypass="true">
    Create Theme</button>
</form>
<h3 class="page-title">Or copy a theme below</h3>
