<div id="new-theme">
  <button data-event="New Theme:type:from scratch"
    class="btn btn-primary btn-large" data-bypass="true">
    Create a Theme from Scratch</button>
</div>
<h3 class="page-title">Or copy a theme below</h3>
