black =               #000
grayDarker =          #1c1c1c
grayDark =            #2c2c2c
gray =                #4c4c4c
grayLight =           #999
grayLighter =         #c1c1c1
white =               #fff

blueLight =           #f0f8ff
blue =                #049cdb
blueDark =            #0064cd
green =               #46a546
red =                 #dd261d
yellowLight =         #ffffe0

div.x-name,
div.x-remove,
div.x-resize {
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.x-current,
.editing .columns:hover {
  box-shadow: 0px 0px 0px 2px blue;
}
.columns.x-current {
  cursor: move;
}
.columns div.x-resize {
  position: absolute;
  top: 0;
  display: none;
  right: 0;
  font-size: 24px;
  margin-top: 9px;
  color: blue;
}
div.x-remove {
  font-size: 12px;
  line-height: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  color: red;
  background-color: yellowLight;
  cursor: pointer;
  display: block;
}
.columns div.x-remove {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.columns.x-current div.x-resize {
  display: block;
  cursor: col-resize;
}
.columns.x-current div.x-remove {
  display: block;
}
.columns.x-current a {
  cursor: move;
}
.columns div.x-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 5px;
  color: blue;
  background-color: yellowLight;
  display: none;
}
.columns.x-current div.x-name {
  display: block;
}
div.x-full:after,
div.x-empty:after {
  content: "+";
  font-size: 18px;
  text-align: center;
  background-color: blueLight;
  color: black;
  width: 100%;
}
div.x-empty:after {
  margin-bottom: 9px;
}
header div.x-full:after,
header div.x-empty:after {
  content: "HEADER";
}
footer div.x-full:after,
footer div.x-empty:after {
  content: "FOOTER";
}
div.x-not-full {
  background-color: blueLight;
}
li.x-drag {
  display: block;
  cursor: move;
  background-color: #fcfcfc;
  color: grayDarker;
  width: 198px;
  z-index: 99999;
}
li.x-drag span {
  padding: 0 5px;
}
.x-loading {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
  text-align: center;
}
